<!DOCTYPE html>

<html>

<head>
    <title>Sobre</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Este Site foi criado por Daniel Figueira aKa eXtr3me. Utiliza dados de <a href="https://www.mapbox.com/"
                target="_blank">mapbox.com</a> e <a href="https://darksky.net/" target="_blank">darksky.net</a>
        </p>
        <img class="portrait" src="/img/me.jpg">
    </div>

    {{>footer}}
</body>

</html>